.header{
    justify-content: space-between;
    display:flex;
    background-color: black;

}
.grid{
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{

    border-radius: 20px;
    background-color: white;

    width: 340px;
    font-family: fantasy;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

body{
    background-color: whitesmoke;
}